/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #181818 !default;//#4f3c4c !default; //#1e1e1e !default; //#1D1D35 !default; //#252a34 !default;
$text-color: #DCDCDC !default; //#eaeaea !default;
$primary-color: #78B355 !default; //#00B4FF !default;//#F5B061 !default;//#3CB371 !default;//주 색상 //#3cb371 !default; //#fcf4a0 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #636366; //mix($primary-color, $background-color, 40%) !default; //''코드블럭 색상 //#109972 !default; //mix(#109972, $background-color, 30%) !default; //mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $primary-color !default; //mix($primary-color, $text-color, 50%) !default;
$link-color-hover: #9AE66D; //mix(#1ED5FF, $link-color, 80%) !default; //mix(#ff9966, $link-color, 30%) !default;
$link-color-visited: $primary-color !default; //mix(#000, $link-color, 25%) !default;
$masthead-link-color: $primary-color !default; //$text-color !default;
$masthead-link-color-hover: #1ED5FF; //mix(#1ED5FF, $link-color, 80%) !default; //mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: #1ED5FF; //mix(#1ED5FF, $link-color, 80%) !default; //mix(#000, $background-color, 30%) !default; //

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
